<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.lixueli.searcheverything</string>
	<key>connections</key>
	<dict>
		<key>304E09E9-C47A-46B4-B31D-CCFC121CAA24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2148B2F-B150-43C1-BAD3-54F0165CC4ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4346CE99-482A-4DA7-957F-759B9955D315</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2148B2F-B150-43C1-BAD3-54F0165CC4ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C27BB27-86CE-42BC-B0A9-8ACE8302B9F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2148B2F-B150-43C1-BAD3-54F0165CC4ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6084C35-C6EE-4930-8FFE-230AA9E852A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2148B2F-B150-43C1-BAD3-54F0165CC4ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBF37978-1B0F-4E5F-8C1B-5A44AA3A76B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2148B2F-B150-43C1-BAD3-54F0165CC4ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9325154-94B4-4F74-BDB8-740CCC42907B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2148B2F-B150-43C1-BAD3-54F0165CC4ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Li Xueli</string>
	<key>description</key>
	<string>An Alfred workflow can search almost everything</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search Everything</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>steam</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在搜索，请稍作等待...</string>
				<key>script</key>
				<string>/usr/local/bin/node steam.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>搜索 Steam 获取游戏信息</string>
				<key>title</key>
				<string>搜索 Steam</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4346CE99-482A-4DA7-957F-759B9955D315</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>steamstats</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在查看统计数据，请稍作等待...</string>
				<key>script</key>
				<string>/usr/local/bin/node steamstats.js</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>查看当前 Steam 游戏的玩家人数</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F9325154-94B4-4F74-BDB8-740CCC42907B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>taptap</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在搜索，请稍作等待...</string>
				<key>script</key>
				<string>/usr/local/bin/node taptap.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>搜索 TapTap 获取手游信息</string>
				<key>title</key>
				<string>搜索 TapTap</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9C27BB27-86CE-42BC-B0A9-8ACE8302B9F0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D2148B2F-B150-43C1-BAD3-54F0165CC4ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>coin</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在搜索，请稍作等待...</string>
				<key>script</key>
				<string>/usr/local/bin/node coin.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>搜索 coinmarketcap.com 获取加密货币信息</string>
				<key>title</key>
				<string>搜索加密货币信息</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>304E09E9-C47A-46B4-B31D-CCFC121CAA24</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"JavaScript","arg":"https:\/\/repl.it\/languages\/javascript","subtitle":"The de facto language of the Web."},{"title":"HTML, CSS, JS","arg":"https:\/\/repl.it\/languages\/web_project","subtitle":"The languages that make up the web."},{"title":"Go","arg":"https:\/\/repl.it\/languages\/go","subtitle":"Statically typed yet expressive language with a focus on concurrency."},{"title":"Lua","arg":"https:\/\/repl.it\/languages\/lua","subtitle":"A lightweight multi-paradigm scripting language."},{"title":"Nodejs","arg":"https:\/\/repl.it\/languages\/nodejs","subtitle":"Evented I\/O for v8 Javascript."}]</string>
				<key>keyword</key>
				<string>repl</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>打开 repl.it，快速编写代码</string>
				<key>title</key>
				<string>打开 repl.it</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>CBF37978-1B0F-4E5F-8C1B-5A44AA3A76B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>cnjc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在搜索，请稍作等待...</string>
				<key>script</key>
				<string>/usr/local/bin/node cnjc.js "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>搜索菜鸟教程获取教程信息</string>
				<key>title</key>
				<string>搜索菜鸟教程</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A6084C35-C6EE-4930-8FFE-230AA9E852A2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>304E09E9-C47A-46B4-B31D-CCFC121CAA24</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>4346CE99-482A-4DA7-957F-759B9955D315</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>9C27BB27-86CE-42BC-B0A9-8ACE8302B9F0</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>A6084C35-C6EE-4930-8FFE-230AA9E852A2</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>CBF37978-1B0F-4E5F-8C1B-5A44AA3A76B2</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>D2148B2F-B150-43C1-BAD3-54F0165CC4ED</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>F9325154-94B4-4F74-BDB8-740CCC42907B</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://xueli.li</string>
</dict>
</plist>
